
.jumbotron img {
  width: 100%;
  opacity: 0.78 !important;
}

body {
  background-color: rgb(246,244,239) !important;
}

h1, h2, h3, h4, h6 {
  font-family: 'Spectral SC', serif !important;
}

p {
  font-family: 'Lora', serif !important;
}
.navbar {
  margin-bottom: 0 !important;
}

.navbar li a {
  font-family: 'Spectral SC', serif !important;
  font-size: 20px !important;
}

.logo {
  height: 300px !important;
}

.about {
  padding-top: 25px;
  font-size: 15px;
}

#title {
  font-family:'Playfair Display', serif !important;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(171,160,71);
}

#slogan {
  font-family:'Playfair Display', serif !important;
  font-size: 20px;
  color: rgb(171,160,71);
}

.jumbotron {
  padding: 0 !important;
  margin: 0 !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  max-width: 300px;
}

.box {
  padding: 2px 16px;
  background-color: #fff;
}

.founder-title {
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 2px !important;
  font-size: 18px;
}

.contact h6 {
  font-size: 22px;
  margin-top: 30px;
}

footer {
  font-size: 20px;
  padding: 40px;
  border-top: 1px solid #fff;
  background-color: black;
  color: #fff;
  margin-bottom: 0;
}
